body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    user-select: none;
}
h1,h3{
    text-align: center;
}
.main{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
.play-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: center;
}
.column{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin: 10px;
    color: blueviolet;
    cursor: pointer;
    font-size: 20px;
}
.column.checked{
    background-color: dodgerblue;
    color: antiquewhite;
}
.column.disabled{
    background-color: darkgray;
    color: #fafafa;
}

.num-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.num{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 10px;
    border-radius: 10px;
    background-color: blueviolet;
    line-height: 50px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.num:hover{
    background-color: blue;
}
